<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1586</th>
      <th>1587</th>
      <th>1588</th>
      <th>1589</th>
      <th>1590</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>时间戳</th>
      <td>1436238960000</td>
      <td>1436238961000</td>
      <td>1436238962000</td>
      <td>1436238963000</td>
      <td>1436238964000</td>
    </tr>
    <tr>
      <th>运行时间</th>
      <td>2015-07-07 11:16:00</td>
      <td>2015-07-07 11:16:01</td>
      <td>2015-07-07 11:16:02</td>
      <td>2015-07-07 11:16:03</td>
      <td>2015-07-07 11:16:04</td>
    </tr>
    <tr>
      <th>桩号</th>
      <td>71138.7</td>
      <td>71138.7</td>
      <td>71138.7</td>
      <td>71138.7</td>
      <td>71138.7</td>
    </tr>
    <tr>
      <th>前点偏差X</th>
      <td>3.7524</td>
      <td>3.7524</td>
      <td>3.7524</td>
      <td>3.7524</td>
      <td>3.7524</td>
    </tr>
    <tr>
      <th>前点偏差Y</th>
      <td>-6.42099</td>
      <td>-6.42099</td>
      <td>-6.42099</td>
      <td>-6.42099</td>
      <td>-6.42099</td>
    </tr>
    <tr>
      <th>前盾俯仰角</th>
      <td>0.39</td>
      <td>0.39</td>
      <td>0.39</td>
      <td>0.39</td>
      <td>0.39</td>
    </tr>
    <tr>
      <th>前盾滚动角</th>
      <td>-0.073007</td>
      <td>-0.073007</td>
      <td>-0.073007</td>
      <td>-0.073007</td>
      <td>-0.073007</td>
    </tr>
    <tr>
      <th>主液压油箱温度</th>
      <td>38.9251</td>
      <td>38.9251</td>
      <td>38.9323</td>
      <td>38.9178</td>
      <td>38.9251</td>
    </tr>
    <tr>
      <th>液压油箱温度预警设置</th>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <th>液压油箱温度报警设置</th>
      <td>60</td>
      <td>60</td>
      <td>60</td>
      <td>60</td>
      <td>60</td>
    </tr>
    <tr>
      <th>温度误差设置</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>左侧护盾压力</th>
      <td>7.71123</td>
      <td>7.84143</td>
      <td>7.62442</td>
      <td>7.69676</td>
      <td>7.75463</td>
    </tr>
    <tr>
      <th>右侧护盾压力</th>
      <td>5.97512</td>
      <td>6.00405</td>
      <td>6.00405</td>
      <td>5.97512</td>
      <td>5.94618</td>
    </tr>
    <tr>
      <th>顶护盾压力</th>
      <td>38.2234</td>
      <td>38.2378</td>
      <td>38.1655</td>
      <td>38.1221</td>
      <td>38.151</td>
    </tr>
    <tr>
      <th>左侧楔形油缸压力</th>
      <td>69.8351</td>
      <td>69.7772</td>
      <td>69.7627</td>
      <td>69.8061</td>
      <td>69.8061</td>
    </tr>
    <tr>
      <th>右侧楔形油缸压力</th>
      <td>68.533</td>
      <td>68.6053</td>
      <td>68.6198</td>
      <td>68.5764</td>
      <td>68.5909</td>
    </tr>
    <tr>
      <th>左侧扭矩油缸伸出压力</th>
      <td>45.327</td>
      <td>45.4716</td>
      <td>45.4716</td>
      <td>45.4282</td>
      <td>45.3993</td>
    </tr>
    <tr>
      <th>左侧扭矩油缸回收压力</th>
      <td>1.80845</td>
      <td>1.76505</td>
      <td>1.76505</td>
      <td>1.77951</td>
      <td>1.77951</td>
    </tr>
    <tr>
      <th>右侧扭矩油缸伸出压力</th>
      <td>31.2789</td>
      <td>31.4815</td>
      <td>31.4236</td>
      <td>31.4236</td>
      <td>31.4381</td>
    </tr>
    <tr>
      <th>右侧扭矩油缸回收压力</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>左侧后支撑压力</th>
      <td>35.6916</td>
      <td>35.6337</td>
      <td>35.6337</td>
      <td>35.6337</td>
      <td>35.6047</td>
    </tr>
  </tbody>
</table>
