<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1586</th>
      <th>1587</th>
      <th>1588</th>
      <th>1589</th>
      <th>1590</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>时间戳</th>
      <td>1436238960000</td>
      <td>1436238961000</td>
      <td>1436238962000</td>
      <td>1436238963000</td>
      <td>1436238964000</td>
    </tr>
    <tr>
      <th>运行时间</th>
      <td>2015-07-07 11:16:00</td>
      <td>2015-07-07 11:16:01</td>
      <td>2015-07-07 11:16:02</td>
      <td>2015-07-07 11:16:03</td>
      <td>2015-07-07 11:16:04</td>
    </tr>
    <tr>
      <th>桩号</th>
      <td>71138.7</td>
      <td>71138.7</td>
      <td>71138.7</td>
      <td>71138.7</td>
      <td>71138.7</td>
    </tr>
    <tr>
      <th>前点偏差X</th>
      <td>3.7524</td>
      <td>3.7524</td>
      <td>3.7524</td>
      <td>3.7524</td>
      <td>3.7524</td>
    </tr>
    <tr>
      <th>前点偏差Y</th>
      <td>-6.42099</td>
      <td>-6.42099</td>
      <td>-6.42099</td>
      <td>-6.42099</td>
      <td>-6.42099</td>
    </tr>
    <tr>
      <th>前盾俯仰角</th>
      <td>0.39</td>
      <td>0.39</td>
      <td>0.39</td>
      <td>0.39</td>
      <td>0.39</td>
    </tr>
    <tr>
      <th>前盾滚动角</th>
      <td>-0.073007</td>
      <td>-0.073007</td>
      <td>-0.073007</td>
      <td>-0.073007</td>
      <td>-0.073007</td>
    </tr>
    <tr>
      <th>主液压油箱温度</th>
      <td>38.9251</td>
      <td>38.9251</td>
      <td>38.9323</td>
      <td>38.9178</td>
      <td>38.9251</td>
    </tr>
    <tr>
      <th>液压油箱温度预警设置</th>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <th>液压油箱温度报警设置</th>
      <td>60</td>
      <td>60</td>
      <td>60</td>
      <td>60</td>
      <td>60</td>
    </tr>
    <tr>
      <th>温度误差设置</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>左侧护盾压力</th>
      <td>7.71123</td>
      <td>7.84143</td>
      <td>7.62442</td>
      <td>7.69676</td>
      <td>7.75463</td>
    </tr>
    <tr>
      <th>右侧护盾压力</th>
      <td>5.97512</td>
      <td>6.00405</td>
      <td>6.00405</td>
      <td>5.97512</td>
      <td>5.94618</td>
    </tr>
    <tr>
      <th>顶护盾压力</th>
      <td>38.2234</td>
      <td>38.2378</td>
      <td>38.1655</td>
      <td>38.1221</td>
      <td>38.151</td>
    </tr>
    <tr>
      <th>左侧楔形油缸压力</th>
      <td>69.8351</td>
      <td>69.7772</td>
      <td>69.7627</td>
      <td>69.8061</td>
      <td>69.8061</td>
    </tr>
    <tr>
      <th>右侧楔形油缸压力</th>
      <td>68.533</td>
      <td>68.6053</td>
      <td>68.6198</td>
      <td>68.5764</td>
      <td>68.5909</td>
    </tr>
    <tr>
      <th>左侧扭矩油缸伸出压力</th>
      <td>45.327</td>
      <td>45.4716</td>
      <td>45.4716</td>
      <td>45.4282</td>
      <td>45.3993</td>
    </tr>
    <tr>
      <th>左侧扭矩油缸回收压力</th>
      <td>1.80845</td>
      <td>1.76505</td>
      <td>1.76505</td>
      <td>1.77951</td>
      <td>1.77951</td>
    </tr>
    <tr>
      <th>右侧扭矩油缸伸出压力</th>
      <td>31.2789</td>
      <td>31.4815</td>
      <td>31.4236</td>
      <td>31.4236</td>
      <td>31.4381</td>
    </tr>
    <tr>
      <th>右侧扭矩油缸回收压力</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>左侧后支撑压力</th>
      <td>35.6916</td>
      <td>35.6337</td>
      <td>35.6337</td>
      <td>35.6337</td>
      <td>35.6047</td>
    </tr>
    <tr>
      <th>右侧后支撑压力</th>
      <td>40.1186</td>
      <td>40.1042</td>
      <td>40.1042</td>
      <td>40.1186</td>
      <td>40.0752</td>
    </tr>
    <tr>
      <th>撑靴压力</th>
      <td>253.458</td>
      <td>253.356</td>
      <td>253.4</td>
      <td>253.385</td>
      <td>253.342</td>
    </tr>
    <tr>
      <th>左侧护盾位移</th>
      <td>154.783</td>
      <td>154.783</td>
      <td>154.783</td>
      <td>154.783</td>
      <td>154.783</td>
    </tr>
    <tr>
      <th>右侧护盾位移</th>
      <td>155.72</td>
      <td>155.707</td>
      <td>155.72</td>
      <td>155.72</td>
      <td>155.72</td>
    </tr>
    <tr>
      <th>左侧扭矩油缸位移</th>
      <td>-4.69231</td>
      <td>-4.69231</td>
      <td>-4.69231</td>
      <td>-4.68007</td>
      <td>-4.69231</td>
    </tr>
    <tr>
      <th>右侧扭矩油缸位移</th>
      <td>-7.04522</td>
      <td>-7.04522</td>
      <td>-7.04522</td>
      <td>-7.03294</td>
      <td>-7.04522</td>
    </tr>
    <tr>
      <th>内循环水罐温度</th>
      <td>31.6732</td>
      <td>31.6768</td>
      <td>31.6768</td>
      <td>31.6768</td>
      <td>31.6768</td>
    </tr>
    <tr>
      <th>内循环水罐液位</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>冷水箱温度</th>
      <td>32.2446</td>
      <td>32.2446</td>
      <td>32.2446</td>
      <td>32.2446</td>
      <td>32.2483</td>
    </tr>
    <tr>
      <th>冷水箱液位</th>
      <td>1669.21</td>
      <td>1667.75</td>
      <td>1667.08</td>
      <td>1668.01</td>
      <td>1667.22</td>
    </tr>
    <tr>
      <th>热水箱温度</th>
      <td>33.5106</td>
      <td>33.5106</td>
      <td>33.5033</td>
      <td>33.5106</td>
      <td>33.5033</td>
    </tr>
    <tr>
      <th>热水箱液位</th>
      <td>1783.45</td>
      <td>1789.36</td>
      <td>1783.17</td>
      <td>1783.86</td>
      <td>1780.15</td>
    </tr>
    <tr>
      <th>刀盘喷水压力</th>
      <td>6.51678</td>
      <td>6.51331</td>
      <td>6.49421</td>
      <td>6.49421</td>
      <td>6.50521</td>
    </tr>
    <tr>
      <th>刀盘喷水增压泵压力</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>污水箱压力检测</th>
      <td>270.906</td>
      <td>270.526</td>
      <td>270.652</td>
      <td>270.399</td>
      <td>270.399</td>
    </tr>
    <tr>
      <th>TBM外水进水温度</th>
      <td>14.6882</td>
      <td>14.6918</td>
      <td>14.6918</td>
      <td>14.6918</td>
      <td>14.6918</td>
    </tr>
    <tr>
      <th>TBM主冷却器进水温度</th>
      <td>30.1685</td>
      <td>30.1685</td>
      <td>30.1649</td>
      <td>30.1685</td>
      <td>30.1685</td>
    </tr>
    <tr>
      <th>暖水泵压力</th>
      <td>5.06539</td>
      <td>5.07292</td>
      <td>5.07407</td>
      <td>5.07928</td>
      <td>5.03241</td>
    </tr>
    <tr>
      <th>冷水泵压力</th>
      <td>3.51968</td>
      <td>3.53125</td>
      <td>3.5434</td>
      <td>3.55613</td>
      <td>3.5434</td>
    </tr>
    <tr>
      <th>内水泵压力</th>
      <td>3.61748</td>
      <td>3.62731</td>
      <td>3.6522</td>
      <td>3.64699</td>
      <td>3.63889</td>
    </tr>
    <tr>
      <th>变频器1温度</th>
      <td>29.5681</td>
      <td>29.5609</td>
      <td>29.5681</td>
      <td>29.5537</td>
      <td>29.5573</td>
    </tr>
    <tr>
      <th>变频器2温度</th>
      <td>27.1376</td>
      <td>27.1304</td>
      <td>27.1195</td>
      <td>27.134</td>
      <td>27.1304</td>
    </tr>
    <tr>
      <th>暖水箱自动排水温度设置</th>
      <td>35</td>
      <td>35</td>
      <td>35</td>
      <td>35</td>
      <td>35</td>
    </tr>
    <tr>
      <th>二次风机频率设置</th>
      <td>40</td>
      <td>40</td>
      <td>40</td>
      <td>40</td>
      <td>40</td>
    </tr>
    <tr>
      <th>齿轮油温度</th>
      <td>30.6532</td>
      <td>30.6207</td>
      <td>30.6207</td>
      <td>30.6243</td>
      <td>30.6243</td>
    </tr>
    <tr>
      <th>EP2泵 出口压力检测</th>
      <td>142.896</td>
      <td>142.824</td>
      <td>142.737</td>
      <td>142.665</td>
      <td>142.593</td>
    </tr>
    <tr>
      <th>EP2 内密封压力</th>
      <td>0.00347222</td>
      <td>0.00405093</td>
      <td>0.00405093</td>
      <td>0.00405093</td>
      <td>0.00405093</td>
    </tr>
    <tr>
      <th>EP2 外密封压力</th>
      <td>0.0121528</td>
      <td>0.0121528</td>
      <td>0.0121528</td>
      <td>0.0127315</td>
      <td>0.0127315</td>
    </tr>
    <tr>
      <th>齿轮润滑油箱压力液位1</th>
      <td>599.52</td>
      <td>599.438</td>
      <td>598.699</td>
      <td>595.415</td>
      <td>595.087</td>
    </tr>
    <tr>
      <th>齿轮润滑油箱压力液位2</th>
      <td>594.923</td>
      <td>595.415</td>
      <td>592.624</td>
      <td>588.026</td>
      <td>587.287</td>
    </tr>
    <tr>
      <th>泵1润滑压力</th>
      <td>47.6852</td>
      <td>47.4942</td>
      <td>47.5405</td>
      <td>47.4132</td>
      <td>47.5116</td>
    </tr>
    <tr>
      <th>泵2润滑压力</th>
      <td>63.2921</td>
      <td>63.2776</td>
      <td>63.1908</td>
      <td>63.1944</td>
      <td>63.1221</td>
    </tr>
    <tr>
      <th>泵3润滑压力</th>
      <td>63.9974</td>
      <td>64.0336</td>
      <td>64.0155</td>
      <td>63.9721</td>
      <td>64.0082</td>
    </tr>
    <tr>
      <th>泵4润滑压力</th>
      <td>54.1124</td>
      <td>54.1848</td>
      <td>54.1052</td>
      <td>54.0401</td>
      <td>54.0545</td>
    </tr>
    <tr>
      <th>齿轮密封压力</th>
      <td>8.62992</td>
      <td>8.52141</td>
      <td>8.55396</td>
      <td>8.60822</td>
      <td>8.56481</td>
    </tr>
    <tr>
      <th>齿轮回油泵出口压力</th>
      <td>0.496528</td>
      <td>0.494792</td>
      <td>0.492477</td>
      <td>0.490162</td>
      <td>0.487269</td>
    </tr>
    <tr>
      <th>主驱动加压压力</th>
      <td>0.037028</td>
      <td>0.03818</td>
      <td>0.0388383</td>
      <td>0.0400156</td>
      <td>0.0407624</td>
    </tr>
    <tr>
      <th>润滑泵电机电流</th>
      <td>40.284</td>
      <td>40.284</td>
      <td>40.284</td>
      <td>40.284</td>
      <td>40.284</td>
    </tr>
    <tr>
      <th>外密封腔流量</th>
      <td>111.36</td>
      <td>111.36</td>
      <td>111.36</td>
      <td>111.36</td>
      <td>111.36</td>
    </tr>
    <tr>
      <th>外密封流量</th>
      <td>110.4</td>
      <td>110.4</td>
      <td>110.4</td>
      <td>110.4</td>
      <td>110.4</td>
    </tr>
    <tr>
      <th>齿轮润滑流量1</th>
      <td>12.7396</td>
      <td>14.3872</td>
      <td>13.1597</td>
      <td>14.5365</td>
      <td>12.6684</td>
    </tr>
    <tr>
      <th>齿轮润滑流量2</th>
      <td>19.013</td>
      <td>18.9505</td>
      <td>19</td>
      <td>19.0026</td>
      <td>19.0156</td>
    </tr>
    <tr>
      <th>前部小齿轮轴承润滑流量1</th>
      <td>24.8255</td>
      <td>23.3932</td>
      <td>50.3516</td>
      <td>48.1302</td>
      <td>23.3932</td>
    </tr>
    <tr>
      <th>前部小齿轮轴承润滑流量2</th>
      <td>37.3108</td>
      <td>32.651</td>
      <td>21.4844</td>
      <td>22.9878</td>
      <td>32.2153</td>
    </tr>
    <tr>
      <th>后部小齿轮轴承润滑流量1</th>
      <td>30.25</td>
      <td>30.6172</td>
      <td>29.2422</td>
      <td>28.9375</td>
      <td>32.7578</td>
    </tr>
    <tr>
      <th>后部小齿轮轴承润滑流量2</th>
      <td>14.717</td>
      <td>25.6753</td>
      <td>25.6267</td>
      <td>26.9271</td>
      <td>25.5382</td>
    </tr>
    <tr>
      <th>齿轮密封外密封压力</th>
      <td>0.0127315</td>
      <td>0.0133102</td>
      <td>0.0133102</td>
      <td>0.0144676</td>
      <td>0.0150463</td>
    </tr>
    <tr>
      <th>齿轮密封内密封压力</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>齿轮油温度预警设置</th>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <th>齿轮油温度报警设置</th>
      <td>60</td>
      <td>60</td>
      <td>60</td>
      <td>60</td>
      <td>60</td>
    </tr>
    <tr>
      <th>EP2次数设置</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>主驱动1#电机电流</th>
      <td>92.8</td>
      <td>92.8</td>
      <td>92.8</td>
      <td>92.4</td>
      <td>92.8</td>
    </tr>
    <tr>
      <th>主驱动2#电机电流</th>
      <td>92.8</td>
      <td>92.8</td>
      <td>91.9</td>
      <td>92.8</td>
      <td>92.8</td>
    </tr>
    <tr>
      <th>主驱动3#电机电流</th>
      <td>91.5</td>
      <td>90.6</td>
      <td>91.5</td>
      <td>91.1</td>
      <td>91.5</td>
    </tr>
    <tr>
      <th>主驱动4#电机电流</th>
      <td>93.3</td>
      <td>93.7</td>
      <td>92.8</td>
      <td>93.3</td>
      <td>93.7</td>
    </tr>
    <tr>
      <th>主驱动5#电机电流</th>
      <td>92.8</td>
      <td>92.4</td>
      <td>92.4</td>
      <td>92.8</td>
      <td>93.3</td>
    </tr>
    <tr>
      <th>主驱动6#电机电流</th>
      <td>93.7</td>
      <td>93.7</td>
      <td>93.3</td>
      <td>94.1</td>
      <td>94.1</td>
    </tr>
    <tr>
      <th>主驱动7#电机电流</th>
      <td>92.8</td>
      <td>92.4</td>
      <td>92.8</td>
      <td>91.9</td>
      <td>92.8</td>
    </tr>
    <tr>
      <th>主驱动8#电机电流</th>
      <td>93.7</td>
      <td>93.7</td>
      <td>92.8</td>
      <td>93.7</td>
      <td>94.1</td>
    </tr>
    <tr>
      <th>主驱动9#电机电流</th>
      <td>92.8</td>
      <td>92.4</td>
      <td>92.4</td>
      <td>92.4</td>
      <td>92.8</td>
    </tr>
    <tr>
      <th>主驱动10#电机电流</th>
      <td>93.7</td>
      <td>93.7</td>
      <td>93.3</td>
      <td>94.1</td>
      <td>93.7</td>
    </tr>
    <tr>
      <th>主驱动1#电机扭矩</th>
      <td>60.588</td>
      <td>63.954</td>
      <td>67.32</td>
      <td>63.954</td>
      <td>60.588</td>
    </tr>
    <tr>
      <th>主驱动2#电机扭矩</th>
      <td>57.222</td>
      <td>60.588</td>
      <td>60.588</td>
      <td>63.954</td>
      <td>60.588</td>
    </tr>
    <tr>
      <th>主驱动3#电机扭矩</th>
      <td>60.588</td>
      <td>60.588</td>
      <td>63.954</td>
      <td>63.954</td>
      <td>63.954</td>
    </tr>
    <tr>
      <th>主驱动4#电机扭矩</th>
      <td>63.954</td>
      <td>63.954</td>
      <td>60.588</td>
      <td>60.588</td>
      <td>60.588</td>
    </tr>
    <tr>
      <th>主驱动5#电机扭矩</th>
      <td>63.954</td>
      <td>63.954</td>
      <td>60.588</td>
      <td>57.222</td>
      <td>57.222</td>
    </tr>
    <tr>
      <th>主驱动6#电机扭矩</th>
      <td>57.222</td>
      <td>63.954</td>
      <td>63.954</td>
      <td>63.954</td>
      <td>60.588</td>
    </tr>
    <tr>
      <th>主驱动7#电机扭矩</th>
      <td>57.222</td>
      <td>60.588</td>
      <td>60.588</td>
      <td>63.954</td>
      <td>63.954</td>
    </tr>
    <tr>
      <th>主驱动8#电机扭矩</th>
      <td>53.856</td>
      <td>60.588</td>
      <td>60.588</td>
      <td>60.588</td>
      <td>63.954</td>
    </tr>
    <tr>
      <th>主驱动9#电机扭矩</th>
      <td>63.954</td>
      <td>60.588</td>
      <td>60.588</td>
      <td>57.222</td>
      <td>60.588</td>
    </tr>
    <tr>
      <th>主驱动10#电机扭矩</th>
      <td>37.026</td>
      <td>40.392</td>
      <td>50.49</td>
      <td>53.856</td>
      <td>50.49</td>
    </tr>
    <tr>
      <th>主驱动1#电机输出频率</th>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
    </tr>
    <tr>
      <th>主驱动2#电机输出频率</th>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
    </tr>
    <tr>
      <th>主驱动3#电机输出频率</th>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
    </tr>
    <tr>
      <th>主驱动4#电机输出频率</th>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
    </tr>
    <tr>
      <th>主驱动5#电机输出频率</th>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
    </tr>
    <tr>
      <th>主驱动6#电机输出频率</th>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
    </tr>
    <tr>
      <th>主驱动7#电机输出频率</th>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
    </tr>
    <tr>
      <th>主驱动8#电机输出频率</th>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
    </tr>
    <tr>
      <th>主驱动9#电机输出频率</th>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
    </tr>
    <tr>
      <th>主驱动10#电机输出频率</th>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
      <td>63.1</td>
    </tr>
    <tr>
      <th>主驱动1#电机输出功率</th>
      <td>7</td>
      <td>7</td>
      <td>10.5</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>主驱动2#电机输出功率</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>主驱动3#电机输出功率</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>主驱动4#电机输出功率</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>主驱动5#电机输出功率</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>主驱动6#电机输出功率</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>主驱动7#电机输出功率</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>主驱动8#电机输出功率</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>主驱动9#电机输出功率</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>主驱动10#电机输出功率</th>
      <td>3.5</td>
      <td>3.5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>减速机1#温度</th>
      <td>30.0094</td>
      <td>30.0094</td>
      <td>30.0094</td>
      <td>30.013</td>
      <td>30.0094</td>
    </tr>
    <tr>
      <th>减速机2#温度</th>
      <td>29.5356</td>
      <td>29.5067</td>
      <td>29.5211</td>
      <td>29.5211</td>
      <td>29.532</td>
    </tr>
    <tr>
      <th>减速机3#温度</th>
      <td>30.9172</td>
      <td>30.9172</td>
      <td>30.9172</td>
      <td>30.9172</td>
      <td>30.91</td>
    </tr>
    <tr>
      <th>减速机4#温度</th>
      <td>28.3746</td>
      <td>28.3782</td>
      <td>28.3818</td>
      <td>28.3782</td>
      <td>28.3818</td>
    </tr>
    <tr>
      <th>减速机5#温度</th>
      <td>28.3746</td>
      <td>28.3782</td>
      <td>28.3818</td>
      <td>28.3782</td>
      <td>28.3746</td>
    </tr>
    <tr>
      <th>减速机6#温度</th>
      <td>29.485</td>
      <td>29.4813</td>
      <td>29.485</td>
      <td>29.4886</td>
      <td>29.4958</td>
    </tr>
    <tr>
      <th>减速机7#温度</th>
      <td>28.219</td>
      <td>28.2335</td>
      <td>28.2227</td>
      <td>28.2227</td>
      <td>28.2227</td>
    </tr>
    <tr>
      <th>减速机8#温度</th>
      <td>31.4128</td>
      <td>31.4742</td>
      <td>31.2934</td>
      <td>31.2862</td>
      <td>31.2934</td>
    </tr>
    <tr>
      <th>减速机9#温度</th>
      <td>29.6947</td>
      <td>29.6984</td>
      <td>29.6947</td>
      <td>29.6947</td>
      <td>29.6947</td>
    </tr>
    <tr>
      <th>减速机10#温度</th>
      <td>29.2535</td>
      <td>29.2535</td>
      <td>29.2499</td>
      <td>29.2499</td>
      <td>29.2499</td>
    </tr>
    <tr>
      <th>刀盘转速</th>
      <td>5.01014</td>
      <td>5.01014</td>
      <td>5.01014</td>
      <td>5.01014</td>
      <td>5.01014</td>
    </tr>
    <tr>
      <th>刀盘转速电位器设定值</th>
      <td>6574.8</td>
      <td>6574.44</td>
      <td>6575.16</td>
      <td>6575.52</td>
      <td>6576.97</td>
    </tr>
    <tr>
      <th>刀盘刹车压力</th>
      <td>45.1302</td>
      <td>45.1367</td>
      <td>45.1411</td>
      <td>45.1606</td>
      <td>45.1671</td>
    </tr>
    <tr>
      <th>刀盘扭矩</th>
      <td>144.811</td>
      <td>149.862</td>
      <td>152.388</td>
      <td>152.388</td>
      <td>150.704</td>
    </tr>
    <tr>
      <th>刀盘给定转速显示值</th>
      <td>4.99685</td>
      <td>4.99657</td>
      <td>4.99712</td>
      <td>4.9974</td>
      <td>4.9985</td>
    </tr>
    <tr>
      <th>刀盘速度给定</th>
      <td>6574.8</td>
      <td>6574.44</td>
      <td>6575.16</td>
      <td>6575.52</td>
      <td>6576.97</td>
    </tr>
    <tr>
      <th>刀盘功率</th>
      <td>66.5</td>
      <td>66.5</td>
      <td>73.5</td>
      <td>70</td>
      <td>70</td>
    </tr>
    <tr>
      <th>刀盘运行时间</th>
      <td>145</td>
      <td>145</td>
      <td>145</td>
      <td>145</td>
      <td>145</td>
    </tr>
    <tr>
      <th>刀盘运行时间.1</th>
      <td>20</td>
      <td>20</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
    </tr>
    <tr>
      <th>给定频率</th>
      <td>63.1181</td>
      <td>63.1146</td>
      <td>63.1215</td>
      <td>63.125</td>
      <td>63.1389</td>
    </tr>
    <tr>
      <th>变频柜回水温度报警值</th>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <th>变频柜回水温度停机值</th>
      <td>55</td>
      <td>55</td>
      <td>55</td>
      <td>55</td>
      <td>55</td>
    </tr>
    <tr>
      <th>减速机温度报警值</th>
      <td>65</td>
      <td>65</td>
      <td>65</td>
      <td>65</td>
      <td>65</td>
    </tr>
    <tr>
      <th>减速机温度停机值</th>
      <td>80</td>
      <td>80</td>
      <td>80</td>
      <td>80</td>
      <td>80</td>
    </tr>
    <tr>
      <th>刀盘最低转速设置</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>左撑靴小腔压力</th>
      <td>71.7593</td>
      <td>71.7303</td>
      <td>71.7303</td>
      <td>71.7303</td>
      <td>71.7303</td>
    </tr>
    <tr>
      <th>右撑靴小腔压力</th>
      <td>70.1678</td>
      <td>70.1823</td>
      <td>70.1389</td>
      <td>70.1389</td>
      <td>70.11</td>
    </tr>
    <tr>
      <th>推进压力</th>
      <td>1.80845</td>
      <td>1.25868</td>
      <td>1.18634</td>
      <td>1.18634</td>
      <td>1.24421</td>
    </tr>
    <tr>
      <th>贯入度</th>
      <td>0.220013</td>
      <td>0.220013</td>
      <td>0.440026</td>
      <td>0.440026</td>
      <td>0.440026</td>
    </tr>
    <tr>
      <th>总推进力</th>
      <td>142.036</td>
      <td>98.8568</td>
      <td>93.1753</td>
      <td>93.1753</td>
      <td>97.7205</td>
    </tr>
    <tr>
      <th>推进速度</th>
      <td>1.10229</td>
      <td>1.10229</td>
      <td>2.20459</td>
      <td>2.20459</td>
      <td>2.20459</td>
    </tr>
    <tr>
      <th>推进位移</th>
      <td>31.8605</td>
      <td>31.7687</td>
      <td>31.8605</td>
      <td>31.8605</td>
      <td>31.7687</td>
    </tr>
    <tr>
      <th>推进泵电机电流</th>
      <td>50.6402</td>
      <td>50.6402</td>
      <td>50.6402</td>
      <td>50.6402</td>
      <td>50.6402</td>
    </tr>
    <tr>
      <th>撑靴泵电机电流</th>
      <td>32.6849</td>
      <td>32.6849</td>
      <td>32.6849</td>
      <td>32.6849</td>
      <td>32.6849</td>
    </tr>
    <tr>
      <th>换步泵电机电流</th>
      <td>0.496528</td>
      <td>0.496528</td>
      <td>0.496528</td>
      <td>0.496528</td>
      <td>0.496528</td>
    </tr>
    <tr>
      <th>左推进油缸行程检测</th>
      <td>2.74564</td>
      <td>2.74564</td>
      <td>2.74564</td>
      <td>2.74564</td>
      <td>2.74564</td>
    </tr>
    <tr>
      <th>右推进油缸行程检测</th>
      <td>5.73511</td>
      <td>5.73511</td>
      <td>5.73511</td>
      <td>5.73511</td>
      <td>5.73511</td>
    </tr>
    <tr>
      <th>左撑靴油缸行程检测</th>
      <td>443.973</td>
      <td>443.942</td>
      <td>443.973</td>
      <td>443.942</td>
      <td>443.881</td>
    </tr>
    <tr>
      <th>右撑靴油缸行程检测</th>
      <td>402.11</td>
      <td>402.11</td>
      <td>402.11</td>
      <td>402.11</td>
      <td>402.11</td>
    </tr>
    <tr>
      <th>推进速度电位器设定值</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>119.358</td>
    </tr>
    <tr>
      <th>推进泵压力</th>
      <td>24.349</td>
      <td>24.4068</td>
      <td>24.8264</td>
      <td>25.651</td>
      <td>26.36</td>
    </tr>
    <tr>
      <th>控制油路2压力检测</th>
      <td>116.262</td>
      <td>116.262</td>
      <td>116.262</td>
      <td>116.247</td>
      <td>116.262</td>
    </tr>
    <tr>
      <th>辅助系统压力检测</th>
      <td>227.966</td>
      <td>227.966</td>
      <td>227.966</td>
      <td>227.951</td>
      <td>227.966</td>
    </tr>
    <tr>
      <th>推进速度给定百分比</th>
      <td>0.918579</td>
      <td>0.918579</td>
      <td>1.83716</td>
      <td>1.83716</td>
      <td>1.83716</td>
    </tr>
    <tr>
      <th>左撑靴俯仰角</th>
      <td>-1.318</td>
      <td>-1.32704</td>
      <td>-1.31908</td>
      <td>-1.30968</td>
      <td>-1.33608</td>
    </tr>
    <tr>
      <th>左撑靴滚动角</th>
      <td>-1.07169</td>
      <td>-1.06843</td>
      <td>-1.07422</td>
      <td>-1.08037</td>
      <td>-1.07313</td>
    </tr>
    <tr>
      <th>右撑靴俯仰角</th>
      <td>-0.568938</td>
      <td>-0.59281</td>
      <td>-0.57581</td>
      <td>-0.572917</td>
      <td>-0.588469</td>
    </tr>
    <tr>
      <th>右撑靴滚动角</th>
      <td>1.22107</td>
      <td>1.23011</td>
      <td>1.2377</td>
      <td>1.22794</td>
      <td>1.21889</td>
    </tr>
    <tr>
      <th>控制泵压力</th>
      <td>131.843</td>
      <td>131.829</td>
      <td>131.916</td>
      <td>131.814</td>
      <td>131.843</td>
    </tr>
    <tr>
      <th>控制油路1 压力</th>
      <td>24.5515</td>
      <td>24.2332</td>
      <td>24.2332</td>
      <td>24.3345</td>
      <td>24.4068</td>
    </tr>
    <tr>
      <th>换步泵1 压力</th>
      <td>0.390625</td>
      <td>0.434028</td>
      <td>0.405093</td>
      <td>0.390625</td>
      <td>0.405093</td>
    </tr>
    <tr>
      <th>撑靴泵压力</th>
      <td>280.729</td>
      <td>280.7</td>
      <td>280.758</td>
      <td>280.816</td>
      <td>281.047</td>
    </tr>
    <tr>
      <th>换步泵2 压力</th>
      <td>0.245949</td>
      <td>0.245949</td>
      <td>0.260417</td>
      <td>0.217014</td>
      <td>0.289352</td>
    </tr>
    <tr>
      <th>钢拱架泵压力</th>
      <td>199.248</td>
      <td>199.277</td>
      <td>199.248</td>
      <td>199.219</td>
      <td>199.277</td>
    </tr>
    <tr>
      <th>主机皮带机泵压力</th>
      <td>114.945</td>
      <td>113.86</td>
      <td>112.124</td>
      <td>112.587</td>
      <td>112.703</td>
    </tr>
    <tr>
      <th>左倾最大滚动角设置</th>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>右倾最大滚动角设置</th>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>左撑靴最大滚动角设置</th>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>左撑靴最大俯仰角设置</th>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>右撑靴最大滚动角设置</th>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>右撑靴最大俯仰角设置</th>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>撑靴压力设定</th>
      <td>260</td>
      <td>260</td>
      <td>260</td>
      <td>260</td>
      <td>260</td>
    </tr>
    <tr>
      <th>推进位移最大允许偏差设置</th>
      <td>30</td>
      <td>30</td>
      <td>30</td>
      <td>30</td>
      <td>30</td>
    </tr>
    <tr>
      <th>贯入度设置</th>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>推进给定速度百分比</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.19358</td>
    </tr>
    <tr>
      <th>推进速度.1</th>
      <td>0.0661377</td>
      <td>0.0661377</td>
      <td>0.132275</td>
      <td>0.132275</td>
      <td>0.132275</td>
    </tr>
    <tr>
      <th>刀盘CH4气体浓度</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>刀盘H2S浓度</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>控制室O2浓度</th>
      <td>20.6832</td>
      <td>20.6832</td>
      <td>20.6832</td>
      <td>20.6832</td>
      <td>20.6823</td>
    </tr>
    <tr>
      <th>控制室CO浓度</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>控制室CO2浓度</th>
      <td>0.0226056</td>
      <td>0.0226056</td>
      <td>0.0226056</td>
      <td>0.0226056</td>
      <td>0.0226056</td>
    </tr>
    <tr>
      <th>设备桥CH4浓度</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>拖车尾部CH4浓度</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>左拖拉油缸压力</th>
      <td>39.3229</td>
      <td>39.3663</td>
      <td>39.3229</td>
      <td>39.3519</td>
      <td>39.3519</td>
    </tr>
    <tr>
      <th>右拖拉油缸压力</th>
      <td>3.21181</td>
      <td>3.22627</td>
      <td>3.21181</td>
      <td>3.22627</td>
      <td>3.18287</td>
    </tr>
    <tr>
      <th>拖拉油缸最大允许压力设置</th>
      <td>250</td>
      <td>250</td>
      <td>250</td>
      <td>250</td>
      <td>250</td>
    </tr>
    <tr>
      <th>拖拉油缸最小允许压力设置</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>机械手泵1 电机电流</th>
      <td>0.484115</td>
      <td>0.484115</td>
      <td>0.484115</td>
      <td>0.484115</td>
      <td>0.484115</td>
    </tr>
    <tr>
      <th>机械手泵2 电机电流</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>主机皮带机转速</th>
      <td>3.10656</td>
      <td>3.13856</td>
      <td>3.16741</td>
      <td>3.16583</td>
      <td>3.17419</td>
    </tr>
    <tr>
      <th>桥架皮带机转速</th>
      <td>2.67844</td>
      <td>2.67844</td>
      <td>2.67822</td>
      <td>2.67799</td>
      <td>2.67867</td>
    </tr>
    <tr>
      <th>转渣皮带机转速</th>
      <td>2.76303</td>
      <td>2.76339</td>
      <td>2.75068</td>
      <td>2.74961</td>
      <td>2.75283</td>
    </tr>
    <tr>
      <th>主机皮带机泵电机电流</th>
      <td>76.026</td>
      <td>73.2092</td>
      <td>76.026</td>
      <td>73.2092</td>
      <td>73.5052</td>
    </tr>
    <tr>
      <th>主皮带机转速电位器设定值</th>
      <td>1.56402</td>
      <td>1.5638</td>
      <td>1.56391</td>
      <td>1.56402</td>
      <td>1.56434</td>
    </tr>
    <tr>
      <th>桥架皮带机转速电位器设定值</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>转渣皮带机转速电位器设定值</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
